@import url('https://fonts.googleapis.com/css?family=Cabin|Fira+Sans|Orbitron&display=swap');
:root {
    --accent-font: 'Orbitron', sans-serif;
    --accent-color: #116466;
    --additional-font: 'Fira Sans', sans-serif;
    --additional-color: #D9B08C;
    font-family: 'Cabin', sans-serif;
    color: black;
}
body {
    max-width: 1080px;
    min-width: 512px;
}
header nav {
    display: flex;
    flex-direction: column;
}
header nav .brand {
    display: flex;
    justify-content: center;
}
header nav .brand h1 {
    flex: none;
    font-family: var(--accent-font);
    font-size: 3rem;
    text-align: center;
    color: var(--accent-color);
    width: 240px;
    margin: 0;
    padding: 0;
}
header nav .brand h3 {
    flex: initial;
    font-family: var(--additional-font);
    font-size: 1em;
    text-align: center;
    color: var(--additional-color);
    width: 300px;
    min-width: 250px;
    margin: 0;
    padding: 0;
}
header nav .menu {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
header nav .menu a {
	text-decoration: none;
	text-transform: uppercase;
    border: 2px solid transparent;
    padding: 5px;
}
header nav .menu a:hover {
    border: 2px solid var(--accent-color);
}
header div .phones {
    display: flex;
    justify-content: space-around;
}
main #category h4{
    text-align: center;
}
main #category ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
}
main #category ul li {
    padding: 5px;
}
main #category ul a {
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid transparent;
}
main #category ul a:hover {
    border: 2px solid var(--accent-color);
}
@media (min-width: 1100px) {
    header nav {
        flex-direction: row;
    }
    header nav .brand h3 {
        width: 300px;
        min-width: 200px;
    }
    header div {
        display: flex;
        justify-content: space-between;
    }
    header div .search {
        order: 1;
    }
    header div .phones {
        flex-direction: column;
        order: 2;
    }
    header div .phones p {
        margin: 2px;
    }
}
@media (min-width: 600px) {
    main #category h4 {
        text-align: left;
    }
    main #category ul {
        text-align: left;
    }
}
/*header nav {
    display: flex;
    align-items: center;
}
header nav .brand {
    flex: none;
    font-family: var(--accent-font);
    font-size: 3rem;
    text-align: center;
    color: var(--accent-color);
    width: 240px;
}
header nav .description {
    flex: initial;
    font-family: var(--additional-font);
    font-size: 1em;
    text-align: center;
    color: var(--additional-color);
    min-width: 240px;
    width: 300px;
}
header nav .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
header nav .menu a {
	text-decoration: none;
	text-transform: uppercase;
    border: 2px solid transparent;
    padding: 5px;
}
header nav .menu a:hover {
    border: 2px solid var(--accent-color);
}
header div .phones {
    display: flex;
    justify-content: space-between;
}
header div .phones p {
    margin: 0;
}

/*@media (min-width: 600px) {
    header nav {
        display: flex;
        align-items: center;
    }
    header nav .menu {
        flex: 1;
    }
    header div {
        display: flex;
        align-items: center;
    }
    header div .search {
        order: 1;
        flex: 3;
    }
    header div .phones {
        order: 2;
        flex-direction: column;
        flex: 1;
    }
    header div .search form {
        display: flex;
        justify-content: space-between;
    }
    main #category {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    main #category ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
header div {
    text-align: center;
}
header div .search form {
    display: flex;
    justify-content: space-between;
}
main #category {
    text-align: center;
}
main #category ul {
    padding: 0;
    list-style-type: none;
}
main #category ul li {
    padding: 5px;
}
main #category ul a {
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid transparent;
}
main #category ul a:hover {
    border: 2px solid var(--accent-color);
}
/*#brand h3 {
    font-family: Architects Daughter;
    font-size: 4em;
}
#brand p {
    font-size: 1.5em;
}
#phones {
    font-size: 1.25em;
    font-weight: bold;
}



#category h4 {
    font-size: 1.5em;
	font-weight: bold;
}
#category ul {
  list-style-type: none;
}
#category li a {
    font-size: 20px;
	font-weight: bold;
	text-decoration: none;
    list-style-type: none;
}
#category li a:hover {
	color: rgb(221, 20, 221);
}
#category li a:active {
	color: rgb(238, 14, 14);
}
.headName {
    font-size: 3em;
    font-variant: small-caps;
}
.itemPicture {
	width:350px;
    height:350px;
    margin-left: 10px;
}
.item h4 {
    font-size: 1.25em;
}
.item p {
    font-size: 2em;
}
.icon {
    width:70px;
    height:70px;
    margin-right: 10px;
}
#loyalty, #mailout, #service, #shipment, #schedule, #contacts {
    font-size: 1.25em;
}
#schedule table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}
footer {
    font-size: 1.25em;
    text-align: center;
}