@import url("https://fonts.googleapis.com/css?family=Cabin|Fira+Sans|Orbitron&display=swap");
:root {
  --accent-font: "Orbitron", sans-serif;
  --accent-color: #3aafa9;
  --additional-font: "Fira Sans", sans-serif;
  --additional-color: #2b7a78;
  --background-color: #def2f1;
  --additional-background-color: #feffff;
  font-family: "Cabin", sans-serif;
  color: black;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
body {
  max-width: 1200px;
  min-width: 400px;
  margin: auto;
}
h3,
p {
  margin: 0;
}
.card {
  height: 100%;
}

.alert {
  position: fixed;
  top: 50px;
  width: 50%;
  left: 25%;
  z-index: 1051;
}

.btn {
  padding: 0.75rem 0.7rem;
}
header {
  background-color: var(--background-color);
  margin: 5px;
  border-radius: 10px;
}
#extra {
  display: none;
  font-family: var(--additional-font);
  color: var(--background-color);
  background-color: var(--additional-color);
  margin: 5px;
  border-radius: 10px;
}
#currencyConverter h3 {
  text-align: center;
}
.part {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--background-color);
  margin: 10px;
}
.part input[type="number"] {
  width: 90px;
  font-size: 1em;
  text-align: right;
}
.part input[type="submit"],
input[type="reset"],
input[type="button"] {
  width: 90px;
  font-size: 1em;
  text-align: center;
}
.part p {
  width: 300px;
}
header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav a {
  text-decoration: none;
}
#brand {
  text-decoration: none;
}
header nav h1 {
  font-family: var(--accent-font);
  font-size: 3rem;
  text-align: center;
  color: var(--accent-color);
  min-width: 240px;
  margin: 0 0 10px 0;
  padding: 0;
}
header nav h3 {
  font-family: var(--additional-font);
  font-size: 1em;
  text-align: center;
  color: var(--additional-color);
  min-width: 250px;
  max-width: 300px;
  padding: 0;
}
header nav h3:hover {
  color: red;
}
header nav .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 5px 0 10px 0;
  list-style-type: none;
}
header nav .menu li {
  margin: 10px 0 5px 0;
}
header nav .menu a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid transparent;
  padding: 5px;
}
header nav .menu a:hover {
  border: 2px solid var(--accent-color);
}
header div .phones {
  display: flex;
  justify-content: space-around;
}
header div .phones p {
  margin: 5px;
}
header div .search input[type="text"] {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  background-color: white;
  background-image: url(../image/search-icon.png);
  background-position: 5px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
@media (min-width: 1100px) {
  header nav {
    flex-direction: row;
    justify-content: center;
  }
  header nav .brand h3 {
    width: 300px;
    min-width: 200px;
  }
  header div {
    display: flex;
    justify-content: space-between;
  }
  header div .search {
    order: 1;
  }
  header div .search input[type="text"] {
    width: 600px;
  }
  header div .phones {
    flex-direction: column;
    order: 2;
    margin-right: 20px;
  }
  header div .phones p {
    margin: 2px;
  }
}

main {
  margin: 5px;
}
main h3 {
  font-size: 1.25em;
  text-transform: uppercase;
  text-align: center;
}
main p {
  font-size: 1.25em;
}

main input[type="text"],
input[type="phone"],
input[type="tel"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  font-size: 1em;
  border: 1px solid var(--additional-color);
  border-radius: 4px;
  resize: vertical;
}
main label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
main input[type="submit"] {
  background-color: var(--accent-color);
  color: var(--additional-background-color);
  font-size: 1em;
  margin-top: 5px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  width: 140px;
}
main input[type="submit"]:hover {
  background-color: var(--additional-color);
}
main .col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
main .col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

main .line:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 600px) {
  main .col-25,
  main .col-75,
  main input[type="submit"] {
    width: 100%;
    margin-top: 5px;
  }
}

main #category {
  background-color: var(--background-color);
  border-radius: 10px;
  margin-bottom: 5px;
}
main .items-category, h6 {
  display: none;
}
main #category section h4 {
  text-align: center;
}
main #category section ul {
  padding: 0;
  list-style-type: none;
  text-align: center;
  font-weight: bold;
}
main #category section ul li {
  padding: 1px;
}
main #category section a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  padding: 3px;
}
main #category section a:hover {
  border: 2px solid var(--additional-color);
}
@media (min-width: 754px) {
  main #category {
    display: flex;
    justify-content: space-around;
  }
  main #carousel {
    max-width: 754px;
  }
  main #category section {
    order: 1;
  }
  main #category div {
    order: 2;
    margin-top: auto;
    margin-bottom: auto;
  }
  main #category section h4 {
    text-align: left;
  }
  main #category section ul {
    text-align: left;
  }
}
#promotion .input-group {
  max-width: 300px;
}
main #promotion {
  background-color: var(--background-color);
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 5px;
}
/*main #promotion div .item {
  position: relative;
  border: solid 1px var(--accent-color);
}
main #promotion div .item .itemPicture {
  display: block;
  width: 100%;
}
main #promotion div .item h4 {
  text-align: center;
  font-size: 1em;
}
main #promotion div .item p {
  font-size: 1.5em;
  margin-left: 10px;
}
main #promotion div .item .icon {
  position: absolute;
  right: 10px;
  bottom: 0;
  max-width: 10%;
}
@media (min-width: 600px) {
  main #promotion div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
}
@media (min-width: 900px) {
  main #promotion div {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
  }
}*/

main #loyalty,
#mailout,
#service,
#shipment,
#schedule,
#contacts {
  border-radius: 10px;
  background-color: var(--background-color);
  padding: 5px;
  margin-bottom: 5px;
}
main #schedule table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 15px;
  margin: auto;
}
main #contacts div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
main #contacts .contactField {
  text-align: center;
}
main #contacts .contactField .icon {
  float: center;
  width: 50px;
}
@media (min-width: 500px) {
  main #contacts div {
    flex-direction: row;
    justify-content: space-around;
  }
}
main #contacts .location {
  display: block;
  width: 100%;
}
footer {
  background-color: #17252a;
  color: var(--background-color);
  font-size: 1em;
  text-align: center;
  padding: 5px;
}
